*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(246, 247, 235, 1);
}
body{
    width: 100%;
}
/*Barra de navegacion*/
nav ul li{
    padding: 0px 24px;
    list-style: none;
    text-align: center;
    display: inline-block;
}
nav ul li a{
    background: black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    display: block;
    width: 144px;
    height: 26px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Boton Login*/
.login{
    text-decoration: none;
    width: 100px;
    background-color: #FFFC31;
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
/*Main con grid; index*/
.contenedor--main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "presupuesto presupuesto presupuesto"
                         "aire heladera freezer"
                         "camara auto vertodo";
    grid-column-gap: 10px;
    grid-row-gap: 15px;     

}
.contenedorAires{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "presupuesto presupuesto presupuesto"
                         "a25k a3k a35k"
                         "a4k a5k a6k";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.contenedorAires a img{
    border-radius: 10px;
}
.presupuesto{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: presupuesto;
}
/*Listas de eleccion con grid; index*/
.aire{
    display: flex;
    justify-content: end;
    grid-area: aire;
}
.heladera{
    display: flex;
    justify-content: center;
    grid-area: heladera;
}
.freezer{
    display: flex;
    justify-content: start;
    grid-area: freezer;
}
.camara{
    display: flex;
    justify-content: end;
    grid-area: camara;
}
.auto{
    display: flex;
    justify-content: center;
    grid-area: auto;
}
.vertodo{
    display: flex;
    justify-content: start;
    grid-area: vertodo;
}
/*Eleccion aires; flex*/
.a25k{
    grid-area: a25k;
    display: flex;
    justify-content: end;
}
.a3k{
    display: flex;
    justify-content: center;
    grid-area: a3k;
}
.a35k{
    display: flex;
    justify-content: start;
    grid-area: a35k;
}
.a4k{
    display: flex;
    justify-content: end;
    grid-area: a4k;
}
.a5k{
    display: flex;
    justify-content: center;
    grid-area: a5k;
}
.a6k{
    display: flex;
    justify-self: start;
    grid-area: a6k;
}
/*Sobre nosotros;grid*/
.nosotros1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"foto nosotros"
                        "foto texto"
                        "foto iconos";
}
.nosotrosFoto{
    grid-area: foto;
}
.nosotrosTitulo{
    grid-area:nosotros;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.nosotrosTexto{
    grid-area:texto;
    text-align: end;
}
.nosotrosIconos{
    grid-area: iconos;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
/*Sobre nosotros;flex
.nosotros1{
    display: flex;
}
.nosotrosInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}
.nosotrosLogo{
    display: flex;
    flex-direction: row;
}*/
/*Footer con flex*/
.footer{
    display: flex;
    justify-content: end;
    margin-right: 15px;
}
/*Seccion Preguntas*/
.preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pregunta1 h2{
    background-color: rgba(117, 159, 188, 1);
    text-align: center;
    height: auto;
    width: 971px;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.pregunta2 h3{
    text-align: center;
    height: auto;
    width: 971px;
    font-weight: normal;
}
#fotomuestra{
    margin: 29px;
}
.pregunta0 h1{
    margin-top: 104px;
    margin-bottom: 55px;
    text-shadow: 0px 4px 8px black;
}

.login1{
    background-color: black;
    color: white;
    text-align: end;
    margin-left: 800px;
    width: 653px;
    height: auto;
}
@media(max-width: 568px){
    .contenedor--main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "presupuesto presupuesto"
                             "aire heladera" 
                             "freezer camara"
                             "auto vertodo";
    }
    .logo {
        width: 35%;
    }
    .presupuesto a img{
        max-width: 100%;
        margin: 10px;
    }
    
    .aire img{
        width: 134px;
        height: 105px;
    }
    .aire{
        justify-content: flex-end;
    }
    .heladera img{
        width: 134px;
        height: 105px;
    }
    .heladera{
        justify-content: flex-start;
    }
    .freezer img{
        width: 134px;
        height: 105px;
    }
    .freezer{
        justify-content: end;
    }
    .camara img{
        width: 134px;
        height: 105px;
    }
    .camara{
        justify-content: flex-start;
    }
    .auto img{
        width: 134px;
        height: 105px;
        justify-content: flex-end;
    }
    .auto{
        justify-content: flex-end;
    }
    .vertodo img{
        width: 134px;
        height: 105px;
    }
    .vertodo{
        justify-content: flex-start;
    }
    .footer a img{
        width: 65%;
    }
    .contenedorAires{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "presupuesto presupuesto"
                             "a25k a3k" 
                             "a35k a4k"
                             "a5k a6k";
        
    }
    .a25k img{
        width: 134px;
        height: 105px;
    }
    .a25k{
        justify-content: flex-end;
    }
    .a3k img{
        width: 134px;
        height: 105px;
    }
    .a3k{
        justify-content: flex-start;
    }
    .a35k img{
        width: 134px;
        height: 105px;
    }
    .a35k{
        justify-content: end;
    }
    .a4k img{
        width: 134px;
        height: 105px;
    }
    .a4k{
        justify-content: flex-start;
    }
    .a5k img{
        width: 134px;
        height: 105px;
        justify-content: flex-end;
    }
    .a5k{
        justify-content: flex-end;
    }
    .a6k img{
        width: 134px;
        height: 105px;
    }
    .a6k{
        justify-content: flex-start;
    }
    .nav ul{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .nosotros1{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 40px;
    }
    .nosotrosFoto{
        display: flex;
        justify-content: center;
    }
    .nosotrosFoto img{
        max-width: 353px;
    }
    .nosotrosIconos{
        justify-content: space-evenly;
    }
    .nosotrosIconos a img{
        max-height: 3rem;
    }
    .pregunta1{
        display: flex;
        max-width: fit-content;
        justify-content: center;
    }
    .pregunta1 h2{
        max-width: 530;
        width: 100%;
    }
    .pregunta2{
        display: flex;
        justify-content: center;
    }
    .pregunta2 h3{
        max-width: 530px;
        width: 100%;
    }
    .fondoLogin{
        background-color: black;
    }
    .login1 div{
        background-color: black;
    }
    .login1 h1{
        background-color: black;
    }
    .login1 div span form{
        background-color: black;
    }
    .login1 div span form h2{
        background-color: black;
    }
    .login1{
        margin-left: 0px;
        background-color: black;
        text-align: start;
        max-width: fit-content;
    }
    .login1 img{
        background-color: black;
    }
    .todoLogin{
        background-color: black;
    }
}